/* custom.css */
.email-icon {
    color: blue !important;
  }

.gif-container {
  display: flex;
  justify-content: center;
}

.gif {
  flex: 1; /* Each gif takes up equal space */
  padding: 5px; /* Optional: adds some space between the gifs */
}

.gif img {
  width: 100%; /* Make the gif scale to the width of its container */
  height: auto; /* Keep the aspect ratio of the gif */
}

@media (max-width: 600px) { /* Adjust the max-width as needed */
  .gif-container {
    flex-direction: column;
  }
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-container video {
  flex: 1;
  max-width: calc(50% - 20px); /* Adjust width to account for the gap */
  width: 100%;
}

@media (max-width: 600px) {
  .video-container {
    flex-direction: column;
  }

  .video-container video {
    flex: none; /* Reset the flex property */
    max-width: 100%; /* Allow each video to take full width */
  }
}


